<div class="container-fluid text-center">
  <h4 class="page-header">Create an Account!</h4>
    <div class="form-text">
      <%= form_for @user do |f| %>
        <div class="row">

        <div class="col-md-2 col-md-offset-4">
          <%= f.label :name %>
          <br>
          <%= f.text_field :name %>
        </div>
        <div class="col-md-2">
          <%= f.label :email %>
          <br>
          <%= f.email_field :email %>
        </div>
        <br><br><br>

        <div class="col-md-2 col-md-offset-4">
          <%= f.label :password %>
          <br>
          <%= f.password_field :password %>
        </div>
        <div class="col-md-2">
          <%= f.label :password_confirmation %>
          <br>
          <%= f.password_field :password_confirmation %>
        </div>

        <br><br><br><br>
        <%= f.submit "Create Account", class:"submit-btn" %>

        </div>
      <% end %>
    </div>
</div>
