<div class="navbar navbar-simple navbar-static-top">
	<div class="navbar-inner">
		<div>
      <%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-default logout-btn" %>
	  </div>
	</div>
</div>

<div class="container-fluid text-center row">
	<div class="link-form col-md-5">
		<h6 class="new-link">Add a New Link:</h6><br>
		<%= form_for @link do |f| %>
			<%= f.label :title, "title" %>:
			<%= f.text_field :title %>
			<br><br>
			<%= f.label :url, "url" %>:
			<%= f.text_field :url %>
			<br><br>
			<%= f.submit "Submit", class: "btn btn-default link-submit-btn" %>
		<% end %>
	</div>
	<div class="col-md-6">
		<h4 class="links-header">Your Links:</h4>
			<div class="links-table">
					<table class="table table-bordered table-hover" align="center">
						<thead>
							<tr>
								<th>Title</th>
								<th>Location</th>
								<th>Read?</th>
							</tr>
						</thead>
						<% current_user.links.each do |link| %>
							<tbody>
								<tr>
									<td><%= link.title %></td>
									<td><%= link_to link.url %></td>
									<td><%= link.read_status %></td>
								</tr>
							</tbody>
						<% end %>
					</table>
			</div>
	</div>
</div>
